<!--#comm_header-->
<div class="public-header">
    <div class="layout-inner">
    </div>
</div>
<!--#end_comm_header-->
<div class="sub-header">
    <div class="layout-inner">
        <div class="logo">
            <img alt="为民服务站 帮助中心" src="$site.TemplatePath/image/logo2.png" />
        </div>
    </div>
</div>
<div class="faq-banner">
    <div class="layout-inner">
        <div class="desc">
            <h3>
                帮助中心</h3>
            <p>
                Frequently Asked Questions</p>
        </div>
        <span class="bg"></span>
    </div>
</div>
