<?xml version="1.0"?>
<ArrayOfImageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ImageConfig>
    <imgname>1:1图片</imgname>
    <imgcode>11</imgcode>
    <imgwidthshare>1</imgwidthshare>
    <imgheightshare>1</imgheightshare>
    <imgstatus>1</imgstatus>
  </ImageConfig>
  <ImageConfig>
    <imgname>4:3图片</imgname>
    <imgcode>43</imgcode>
    <imgwidthshare>4</imgwidthshare>
    <imgheightshare>3</imgheightshare>
    <imgstatus>1</imgstatus>
  </ImageConfig>
  <ImageConfig>
    <imgname>16:9图片</imgname>
    <imgcode>169</imgcode>
    <imgwidthshare>16</imgwidthshare>
    <imgheightshare>9</imgheightshare>
    <imgstatus>1</imgstatus>
  </ImageConfig>
  <ImageConfig>
    <imgname>1:2图片</imgname>
    <imgcode>12</imgcode>
    <imgwidthshare>1</imgwidthshare>
    <imgheightshare>2</imgheightshare>
    <imgstatus>1</imgstatus>
  </ImageConfig>
  <ImageConfig>
    <imgname>3:4图片</imgname>
    <imgcode>34</imgcode>
    <imgwidthshare>3</imgwidthshare>
    <imgheightshare>4</imgheightshare>
    <imgstatus>1</imgstatus>
  </ImageConfig>
  <ImageConfig>
    <imgname>6:19图片</imgname>
    <imgcode>619</imgcode>
    <imgwidthshare>6</imgwidthshare>
    <imgheightshare>19</imgheightshare>
    <imgstatus>1</imgstatus>
  </ImageConfig>
  <ImageConfig>
    <imgname>2:1图片</imgname>
    <imgcode>21</imgcode>
    <imgwidthshare>2</imgwidthshare>
    <imgheightshare>1</imgheightshare>
    <imgstatus>1</imgstatus>
  </ImageConfig>
</ArrayOfImageConfig>