<?xml version="1.0"?>
<SystemConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <htmlpath>html</htmlpath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>0</memberstatus>
  <commentstatus>0</commentstatus>
  <smsapiurl />
  <smsusername />
  <smspassword />
  <emailsmtp />
  <emailport>25</emailport>
  <emailfrom>573982521@qq.com</emailfrom>
  <emailusername />
  <emailpassword>B674037D24CAD565</emailpassword>
  <emailnickname />
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>jpg,png,bmp,gif,rar,zip,doc,docx,ppt,pptx,xls,xlsx</fileextension>
  <attachsize>102400</attachsize>
  <imgzip>1</imgzip>
  <isimgs>1</isimgs>
  <imgtype>0</imgtype>
  <imgsize>0</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <thumbnailsuffix>m</thumbnailsuffix>
</SystemConfig>