<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mysql" connectionString="server=192.168.0.107;database=db_ccphl;user id=root;password=root;Allow User Variables=true;Charset=utf8" providerName="MySql.Data.MySqlClient" />
    <!--<add name="sqlserver" connectionString="Data Source=MACBOOK\SQLEXPRESS;Initial Catalog=testdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="sqlserverce" connectionString="Data Source=C:\Users\bradr\dev\Source\PetaPoco\PetaPoco.Tests\petapoco.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    <add name="postgresql" connectionString="Server=127.0.0.1;User id=postgres;password=password01;Database=tempdb;" providerName="Npgsql"/>-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>